.header{
    position:static;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.header h2{
    background-color: transparent;
    color: black;
}